@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
  background-color: #c7d5dd;
  color: #fff;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
}

h1 {
  margin: 0 auto;
  width: 50%;
  max-width: 1000px;
  text-align: center;
  text-shadow: -3px 0 #8aafc4, 0 3px #8aafc4, 3px 0 #8aafc4, 0 -3px #8aafc4;
}

h2 {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 37px;

  margin: 0 auto;
  text-align: center;

  color: #9898b8;
  text-shadow: 2px 2px 2px #fff;
}

hr {
  margin: 3px auto;
}

a {
  color: inherit;
  text-decoration: inherit;

  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

a:hover {
  color: #8aafc4;
}

footer {
  color: #9898b8;
  font-size: 14px;
  text-align: center;
  margin-top: 3%;
}

#line0 { width: 120px; }
#line1 { width: 200px; }
#line2 {
  width: 100px;
  margin-bottom: 8%;
}

.fakelink {
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.fakelink:hover {
  color: #8aafc4;
  cursor: pointer;
}

.portrait {
  display: flex;
  margin: 0 auto 3% auto;
  border: 3px solid #8aafc4;
  width: 250px; /* overridden by javascript! I put J.I.C. of noscript. */
}

.about {
  width: 61.8%;
  font-size: 23px;
  font-family: 'Dosis', sans-serif;
  color: #5e5e77;
  margin: 0 auto;
  text-align: justify;
  display: none;
}

.portfolio {
  display: none;
  text-align: center;
}

.folio-img {
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  transition: all 300ms ease;
  width: 20%;
  border: 3px solid #8aafc4;
  margin-top: 2%;
}

.folio-img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}
